In [4]:
import pandas as pd

In [ ]:
import os
usrpgdb=os.environ['USRPGDB']
pwdpgdb=os.environ["PWDPGDB"]

In [91]:
from sqlalchemy import create_engine
# jdbc:postgresql://datascience.cfjh0viimnrv.eu-central-1.rds.amazonaws.com:5432/datascience
            
# strrdb = 'redshift+psycopg2://deepak:ksdkjsahdsakdjh1222AAAA@spotcap.cb9ol0lcwchl.eu-central-1.redshift.amazonaws.com:5439/spotcap'      
# conrdb = create_engine(strrdb) 

strpgdb = f'postgresql+psycopg2://{usrpgdb}:{pwdpgdb}@datascience.cfjh0viimnrv.eu-central-1.rds.amazonaws.com:5432/datascience'
conpgdb = create_engine(strpgdb)

In [ ]:
dt = pd.read_sql_query('select * from risk.cl_performance_mbm limit 2;', conrdb)

In [ ]:
dt.head()

In [92]:
txn = pd.read_sql_query('select * from bank_data_trx limit 2;', conpgdb)

In [111]:
txn.head(2)

,application_id,user_id,decision_date,decision_buckets,country,ibans,max_transaction_date,transactions,transactions_msg,transactions_filter_ibans,updated_at
0,1177633,951713,2019-07-01,approved,AU,306383067,2019-04-02,"[{""message_output"":[""Call successful - transac...",Call successful - transactions available,"[{""message_output"":[""Call successful - transac...",2019-07-25 11:01:21.157636
1,1176121,44965,2019-06-28,approved,AU,402207311;400785476;296741704,2019-06-12,"[{""message_output"":[""Call successful - transac...",Call successful - transactions available,"[{""message_output"":[""Call successful - transac...",2019-07-25 11:01:26.694752

In [ ]:
txn.info()

In [ ]:
from pandas.io.json import json_normalize

In [109]:
txn2=txn['transactions_filter_ibans'].map(json.loads).apply(pd.Series).add_prefix('Txn')
txn2=pd.json_normalize(txn2.Txn0.tolist())
txn2.columns=txn2.columns.str.replace(".","_")
txn2.drop(columns=['message_output','data_deDuplicated'],inplace=True)

txn2.head()

                                           data_data
0  [{'id': 262885344, 'bankAccountInformation': {...
1  [{'id': 262741929, 'bankAccountInformation': {...

In [110]:
df1 = (pd.concat({i: pd.DataFrame(x) for i, x in txn2.pop('data_data').items()})
         .reset_index(level=1, drop=True)
         .join(txn2)
         .reset_index(drop=True))

df1

,id,bankAccountInformation,transactionDate,currentBalance,amount,description,currentBalanceInFunctionalCurrency,amountInFunctionalCurrency,country,bankTransactionFlowType,bankDataSource
0,262885344,"{'accountIdentifier': '306383067', 'bankIdenti...",2018-07-02,"{'amount': '11056.9248046875', 'currency': 'AUD'}","{'amount': '-66', 'currency': 'AUD'}",PAYMENT TO 1300 EZYCALL PTY 46039514,"{'amount': '11056.9248046875', 'currency': 'AUD'}","{'amount': '-66', 'currency': 'AUD'}",AU,OUTFLOW,titanium-db
1,262885343,"{'accountIdentifier': '306383067', 'bankIdenti...",2018-07-02,"{'amount': '-2321.9951171875', 'currency': 'AUD'}","{'amount': '-13378.919921875', 'currency': 'AUD'}",ANZ INTERNET BANKING FUNDS TFER TRANSFER 74445...,"{'amount': '-2321.9951171875', 'currency': 'AUD'}","{'amount': '-13378.919921875', 'currency': 'AUD'}",AU,OUTFLOW,titanium-db
2,262885342,"{'accountIdentifier': '306383067', 'bankIdenti...",2018-07-02,"{'amount': '-18079.46484375', 'currency': 'AUD'}","{'amount': '-15757.4697265625', 'currency': 'A...",ANZ INTERNET BANKING FUNDS TFER TRANSFER 74805...,"{'amount': '-18079.46484375', 'currency': 'AUD'}","{'amount': '-15757.4697265625', 'currency': 'A...",AU,OUTFLOW,titanium-db
3,262885341,"{'accountIdentifier': '306383067', 'bankIdenti...",2018-07-03,"{'amount': '-18079.794921875', 'currency': 'AUD'}","{'amount': '-0.3300000131130219', 'currency': ...",VISA DEBIT PURCHASE CARD 2069 PAYMENT ASSIST N...,"{'amount': '-18079.794921875', 'currency': 'AUD'}","{'amount': '-0.3300000131130219', 'currency': ...",AU,OUTFLOW,titanium-db
4,262885340,"{'accountIdentifier': '306383067', 'bankIdenti...",2018-07-03,"{'amount': '-18124.9453125', 'currency': 'AUD'}","{'amount': '-45.15000152587891', 'currency': '...",VISA DEBIT PURCHASE CARD 2069 BIG W 0389 ROSNY...,"{'amount': '-18124.9453125', 'currency': 'AUD'}","{'amount': '-45.15000152587891', 'currency': '...",AU,OUTFLOW,titanium-db
...,...,...,...,...,...,...,...,...,...,...,...
7762,6550488,"{'accountIdentifier': '400785476', 'bankIdenti...",2015-12-21,"{'amount': '307420.40625', 'currency': 'AUD'}","{'amount': '-860.530029296875', 'currency': 'A...",ANZ INTERNET BANKING FUNDS TFER TRANSFER 95383...,"{'amount': '307420.40625', 'currency': 'AUD'}","{'amount': '-860.530029296875', 'currency': 'A...",AU,OUTFLOW,titanium-db
7763,6550483,"{'accountIdentifier': '400785476', 'bankIdenti...",2015-12-16,"{'amount': '348739.65625', 'currency': 'AUD'}","{'amount': '-754.239990234375', 'currency': 'A...",ANZ INTERNET BANKING BPAY ENERGYAUSTRALIA PT {...,"{'amount': '348739.65625', 'currency': 'AUD'}","{'amount': '-754.239990234375', 'currency': 'A...",AU,OUTFLOW,titanium-db
7764,6550482,"{'accountIdentifier': '400785476', 'bankIdenti...",2015-12-16,"{'amount': '348277.65625', 'currency': 'AUD'}","{'amount': '-462', 'currency': 'AUD'}",ANZ INTERNET BANKING FUNDS TFER TRANSFER 30746...,"{'amount': '348277.65625', 'currency': 'AUD'}","{'amount': '-462', 'currency': 'AUD'}",AU,OUTFLOW,titanium-db
7765,6550481,"{'accountIdentifier': '400785476', 'bankIdenti...",2015-12-16,"{'amount': '347837.65625', 'currency': 'AUD'}","{'amount': '-440', 'currency': 'AUD'}",ANZ INTERNET BANKING FUNDS TFER TRANSFER 30663...,"{'amount': '347837.65625', 'currency': 'AUD'}","{'amount': '-440', 'currency': 'AUD'}",AU,OUTFLOW,titanium-db
7766,6550479,"{'accountIdentifier': '400785476', 'bankIdenti...",2015-12-16,"{'amount': '347269.3125', 'currency': 'AUD'}","{'amount': '-231', 'currency': 'AUD'}",ANZ INTERNET BANKING FUNDS TFER TRANSFER 30614...,"{'amount': '347269.3125', 'currency': 'AUD'}","{'amount': '-231', 'currency': 'AUD'}",AU,OUTFLOW,titanium-db

In [ ]:
lst=txn.transactions_filter_ibans.tolist()

In [ ]:
str(lst)

In [ ]:
for l in lst[1]:
    print(l)

In [ ]:
# https://www.kaggle.com/jboysen/quick-tutorial-flatten-nested-json-in-pandas/notebook

In [1]:
from pandas.io.json import json_normalize
data = [{"message_output":["Call successful - transactions available"],"data":{"id":262885344,"bankAccountInformation":{"accountIdentifier":"306383067","bankIdentifier":"013265"}
                 ,"transactionDate":"2018-07-02","currentBalance":{"amount":"11056.9248046875","currency":"AUD"}
                 ,"amount":{"amount":"-66","currency":"AUD"},"description":"PAYMENT TO 1300 EZYCALL PTY 46039514"
                 ,"currentBalanceInFunctionalCurrency":{"amount":"11056.9248046875","currency":"AUD"}
                 ,"amountInFunctionalCurrency":{"amount":"-66","currency":"AUD"}
                 ,"country":"AU","bankTransactionFlowType":"OUTFLOW","bankDataSource":"titanium-db"}}]
data
# json_normalize(data)

[{'message_output': ['Call successful - transactions available'],
  'data': {'id': 262885344,
   'bankAccountInformation': {'accountIdentifier': '306383067',
    'bankIdentifier': '013265'},
   'transactionDate': '2018-07-02',
   'currentBalance': {'amount': '11056.9248046875', 'currency': 'AUD'},
   'amount': {'amount': '-66', 'currency': 'AUD'},
   'description': 'PAYMENT TO 1300 EZYCALL PTY 46039514',
   'currentBalanceInFunctionalCurrency': {'amount': '11056.9248046875',
    'currency': 'AUD'},
   'amountInFunctionalCurrency': {'amount': '-66', 'currency': 'AUD'},
   'country': 'AU',
   'bankTransactionFlowType': 'OUTFLOW',
   'bankDataSource': 'titanium-db'}}]

In [2]:
json_normalize(data)

/Users/deepak/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

,message_output,data.id,data.bankAccountInformation.accountIdentifier,data.bankAccountInformation.bankIdentifier,data.transactionDate,data.currentBalance.amount,data.currentBalance.currency,data.amount.amount,data.amount.currency,data.description,data.currentBalanceInFunctionalCurrency.amount,data.currentBalanceInFunctionalCurrency.currency,data.amountInFunctionalCurrency.amount,data.amountInFunctionalCurrency.currency,data.country,data.bankTransactionFlowType,data.bankDataSource
0,[Call successful - transactions available],262885344,306383067,013265,2018-07-02,11056.9248046875,AUD,-66,AUD,PAYMENT TO 1300 EZYCALL PTY 46039514,11056.9248046875,AUD,-66,AUD,AU,OUTFLOW,titanium-db

In [ ]:
data.T

### Read txn and performance data

In [2]:
import pandas as pd

In [3]:
txprf=pd.read_csv('txn_perf.csv')
txprf.head()

,application_id,user_id,decision_date,decision_buckets,country,ibans,max_transaction_date,transactions,transactions_msg,transactions_filter_ibans,updated_at,is_default_60_month_6,is_default_60_month_9,is_defalut_60_month_12
0,104365,42446,2019-08-15,approved,AU,398440,2019-08-13,"[{""message_output"":[""Call successful - transac...",Call successful - transactions available,"[{""message_output"":[""Call successful - transac...",2019-08-15T09:00:19.323126Z,No,No,NaN
1,126469,40206,2019-07-04,approved,NL,NL66RABO0368781712;NL79ABNA0415825334,2017-12-11,"[{""message_output"":[""Call successful - transac...",Call successful - transactions available,"[{""message_output"":[""Call successful - transac...",2019-07-29T16:18:41.105395Z,No,No,No
2,146350,28325,2019-07-08,approved,NL,NL63INGB0666923744,2018-07-09,"[{""message_output"":[""Call successful - transac...",Call successful - transactions available,"[{""message_output"":[""Call successful - transac...",2019-07-29T11:02:34.372645Z,No,No,No
3,187635,181352,2019-12-19,approved,AU,421661552;421660891;421660699;10893794;1032568...,2019-12-16,"[{""message_output"":[""Call successful - transac...",Call successful - transactions available,"[{""message_output"":[""Call successful - transac...",2020-01-08T09:01:14.389905Z,No,NaN,NaN
4,361689,231376,2019-11-22,approved,NL,NL64ABNA0489428428,2019-11-18,"[{""message_output"":[""Call successful - transac...",Call successful - transactions available,"[{""message_output"":[""Call successful - transac...",2019-11-25T09:01:02.605540Z,No,NaN,NaN

In [8]:
# txprf.col1=txprf.transactions_filter_ibans.apply(list)
txprf = txprf.explode('transactions_filter_ibans')
txprf.head()

,application_id,user_id,decision_date,decision_buckets,country,ibans,max_transaction_date,transactions,transactions_msg,transactions_filter_ibans,updated_at,is_default_60_month_6,is_default_60_month_9,is_defalut_60_month_12
0,104365,42446,2019-08-15,approved,AU,398440,2019-08-13,"[{""message_output"":[""Call successful - transac...",Call successful - transactions available,"[{""message_output"":[""Call successful - transac...",2019-08-15T09:00:19.323126Z,No,No,NaN
1,126469,40206,2019-07-04,approved,NL,NL66RABO0368781712;NL79ABNA0415825334,2017-12-11,"[{""message_output"":[""Call successful - transac...",Call successful - transactions available,"[{""message_output"":[""Call successful - transac...",2019-07-29T16:18:41.105395Z,No,No,No
2,146350,28325,2019-07-08,approved,NL,NL63INGB0666923744,2018-07-09,"[{""message_output"":[""Call successful - transac...",Call successful - transactions available,"[{""message_output"":[""Call successful - transac...",2019-07-29T11:02:34.372645Z,No,No,No
3,187635,181352,2019-12-19,approved,AU,421661552;421660891;421660699;10893794;1032568...,2019-12-16,"[{""message_output"":[""Call successful - transac...",Call successful - transactions available,"[{""message_output"":[""Call successful - transac...",2020-01-08T09:01:14.389905Z,No,NaN,NaN
4,361689,231376,2019-11-22,approved,NL,NL64ABNA0489428428,2019-11-18,"[{""message_output"":[""Call successful - transac...",Call successful - transactions available,"[{""message_output"":[""Call successful - transac...",2019-11-25T09:01:02.605540Z,No,NaN,NaN

In [9]:
txprf.shape

(776, 14)

In [20]:
txprf['Txn']=txprf['transactions'].apply(lambda row: json_normalize(json.loads(row)['data.data'])
txprf.head()

SyntaxError: invalid syntax (<ipython-input-20-fd2d981f5ddd>, line 2)

In [25]:
txprf2=txprf['transactions'].apply(lambda row: json_normalize(json.loads(row)))

/Users/deepak/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [26]:
txprf2.head()

0                                   message_output ...
1                                   message_output ...
2                                   message_output ...
3                                   message_output ...
4                                   message_output ...
Name: transactions, dtype: object